<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
  </head>
  <body>
   <div class="container">

        <div class ="holder headline">
          <h1>Travel Planner</h1>
        </div>

        <div class ="holder entry">
          <div id = "entryHolder"></div>
        </div>

        <div class ="travel-info">
          <div class='search-area'>
            <div id='search-top'></div>

            <div id="search-middle">
              
              <div id="city-data">
                <label for="city">My Trip to:</label>
                <input type="text" id="city" placeholder="Enter Location...">
              </div>
              <div id="travel-data">
                <label for="travel_date">Departing:</label>
                <input type="text" id="travelDate" name="travelDate" placeholder="MM/DD/YYYY">
              </div>

            </div>
            <div id="search-bottom">
                <button class="button-search" id="generate" type = "submit"> save trip </button>
                <button class="button-innactive" id="save" type = "submit"> remove trip </button>
            </div>
          </div>
        </div>

        <div class ="display-results"></div>
    </div>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
    </script>
  
  </body>
</html>