@import '~js-datepicker/src/datepicker';
@import "./style-response.scss";
@import "./style-validate.scss";
/* Mobile first */
.container {
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr .5fr .3fr;
    /* Use grid-template-area to create a mobile layout where each named space occupies its own row */
    grid-template-areas:
        "hd"
        "hdb"
        "main"
        "ft";
    //margin: auto;
    //grid-gap: 5px;
  }

  .box {
    border: 1px solid red;
    //background: #F8FA9D;
}

body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    //display: grid;
    //grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
   // height:100vh;
    //background: #f23557;
    color: #f0d43a;
    //justify-content: center;
    //grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.entry{
    grid-area: hdb;
    background: rgba(59, 74, 107, .4);
}

.travel-info {
    grid-area: ft;
    // align-items: center;
    // justify-content: center;
    //margin: 0 auto;
    background-color: lightgrey;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}

#search-top {
    //display: inline-block;
    padding: 20px;
}

#search-bottom {
    // display: block;
    // align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.display-results {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeeee;

}

#entryHolder{

}

#date{
font-size: 20px;
}

#temp{
    font-size: 20px;
}

#content{
    font-size: 20px;
}

.headline {
    grid-area: hd;
    display: flex;
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    align-items: center;
    justify-content: center;
}

.title{
font-size: 30px;
color: silver;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    /* Other styling... */
    // height: 50px;
    // background: grey;
    //display: inline-block;
    //display:inline-block;
    width: 140px;
    text-align: right;
    font-size: 2em;
    margin-right:15px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

input{
    //display:flex;
    // align-items: center;
    // justify-content: center;
    //display:inline-block;
    height: 60px;
    width: 320px;
    background: lightgrey;
    color: #34495E ;
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    border: none;
}

.button-search{
    width: 200px;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin:5px;
}

.button-search:hover {
    background-color: #4CAF50;
    color: white;
  }

.button-innactive{
    width: 200px;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin:5px;
}

.button-save{
    width: 100px;
    height: 25px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin:5px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color:#34495E; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

.search-area {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .6fr .2fr;
}

img.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    //height: 213px;
    //height: 90%;
    //width: 320px;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

#header-response{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin-left: 15px;
    position:relative;
    //  top:-10px;
}

p { margin:0 }

/* If Screen Is Wide Enough */
@media(min-width:900px) {
    .container {
          display:grid;
          width: 100vw;
          height: 100vh;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
          grid-template-rows: .1fr .1fr .5fr .3fr;
          grid-template-areas: 
          "hd hd hd hd hd hd hd hd"
          ". . hdb hdb hdb hdb . ."
          ". . main main main main . ."
          "ft ft ft ft ft ft ft ft";
      }
    }